@import '../../styles/common.scss';

.categories {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;

  .title {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;

    .icon {
      margin-right: 5px;
    }
  }

  .category {
    color: $main_purple;
    background: #ececec;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
    white-space: nowrap;
  }
}
