@import '../../styles/common.scss';

// microCMSが用意しているHTMLタグ
/// h1 ~ h6, p, ul, ol, li, br, a, img, strong

// WARNING: このファイルのstyleはグローバルに当てられるので注意

h2.h2 {
  background: $weak_purple;
  color: #fff;
  border-radius: 3px;
  padding: 8px 12px;
}

// h1.h1,
h3.h3 {
  padding-bottom: 5px;
  border-bottom: 2px solid $weak_purple;
  // filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
  font-size: 25px;
}

img.img {
  max-width: 50%;
}
