@import '../../styles/common.scss';

.footerContainer {
  background-color: $weak_gray;
  height: 100px;
  box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.3);

  .footerText {
    text-align: center;
    padding-top: 40px;
  }
}
